---
import type { GetStaticPaths, InferGetStaticPropsType } from 'astro'
import Main from '@components/Main.astro'
import RootLayout from '@layouts/RootLayout.astro'
import { getAllCategories, getPostsByCategory } from '../../../posts'
import Pagination from '@components/Pagination.astro'
import PostListWithExcerpt from '@components/PostListWithExcerpt.astro'
import { DEFAULT_PAGE_SIZE } from 'src/consts'

export const getStaticPaths = (async ({ paginate }) => {
	const categories = await getAllCategories()

	const pages = categories.map(async (category) => {
		const posts = await getPostsByCategory(category)
		return paginate(posts, {
			params: { slug: category.slug },
			props: { category: category },
			pageSize: DEFAULT_PAGE_SIZE
		})
	})

	return (await Promise.all(pages)).flat()
}) satisfies GetStaticPaths

type Props = InferGetStaticPropsType<typeof getStaticPaths>

const { page, category } = Astro.props as Props
---

<RootLayout>
	<Main>
		<h1 class="text-center text-3xl font-bold capitalize text-gray-200">
			{category.name}
		</h1>
		<PostListWithExcerpt posts={page.data} />
		<Pagination {page} />
	</Main>
</RootLayout>
