<nav class="sticky top-0 text-gray-100 backdrop-blur bg-gray-950/30">
    <div class="flex flex-wrap items-center container mx-auto max-w-5xl justify-between p-3 text-xs sm:text-base">
        <a up-transition="move-left" href="/" class="hover:text-orange-500" aria-label="Home">
            <span class="iconify text-2xl tabler--home"></span>
        </a>
        <div class="ml-auto flex items-center">
            <div class="mr-4 flex items-center gap-4">
                <a up-transition="move-left" href="/archive" class="hover:text-orange-500"
                    aria-label="Posts">Archive</a>
                <a up-transition="move-left" href="/categories" class="hover:text-orange-500"
                    aria-label="Categories">Categories</a>
                <a up-transition="move-left" href="/tags" class="hover:text-orange-500" aria-label="Tags">Tags</a>
            </div>
        </div>
    </div>
</nav>