---
import HeaderLink from '@components/NavLink.astro'

const { class: className } = Astro.props
---

<nav
	class:list={[
		'container mx-auto mx-auto flex max-w-5xl max-w-screen-xl flex-wrap items-center justify-between p-3 text-xs sm:text-base',
		className
	]}>
	<HeaderLink href="/" aria-label="Home">
		<svg
			xmlns="http://www.w3.org/2000/svg"
			class="icon icon-tabler icon-tabler-home"
			width="24"
			height="24"
			viewBox="0 0 24 24"
			stroke-width="2"
			stroke="currentColor"
			fill="none"
			stroke-linecap="round"
			stroke-linejoin="round"
			><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M5 12l-2 0l9 -9l9 9l-2 0"
			></path><path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"></path><path
				d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6"></path></svg
		>
	</HeaderLink>
	<div class="ml-auto flex items-center">
		<div class="mr-4 flex items-center gap-4">
			<HeaderLink href="/posts" aria-label="Posts">Posts</HeaderLink>
			<HeaderLink href="/categories" aria-label="Categories">Categories</HeaderLink>
			<HeaderLink href="/tags" aria-label="Tags">Tags</HeaderLink>
		</div>
	</div>
</nav>
