---
import type { Page } from 'astro'
import type { CollectionEntry } from 'astro:content'

interface Props {
	page: Page<CollectionEntry<'posts'>>
}

const { page } = Astro.props
---

<nav class="mt-8 inline-flex w-full items-center justify-end text-sm">
	{
		page.url.prev || page.url.next ? (
			<small class="mr-4 font-medium text-gray-400">
				{page.currentPage} of {page.total}
			</small>
		) : null
	}
	{
		page.url.prev ? (
			<a
				href={page.url.prev}
				class="ms-0 flex h-8 items-center justify-center rounded bg-gray-800 px-3 leading-tight text-gray-400 shadow hover:bg-gray-700 hover:text-gray-300">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					class="icon icon-tabler icon-tabler-chevrons-left"
					width="24"
					height="24"
					viewBox="0 0 24 24"
					stroke-width="2"
					stroke="currentColor"
					fill="none"
					stroke-linecap="round"
					stroke-linejoin="round">
					<path d="M11 7l-5 5l5 5" />
					<>
						<path stroke="none" d="M0 0h24v24H0z" fill="none" />
						<path d="M17 7l-5 5l5 5" />
					</>
				</svg>
			</a>
		) : null
	}
	{
		page.url.next ? (
			<a
				href={page.url.next}
				class="ms-0 flex h-8 items-center justify-center rounded bg-gray-800 px-3 leading-tight text-gray-400 shadow hover:bg-gray-700 hover:text-gray-300">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					class="icon icon-tabler icon-tabler-chevrons-right"
					width="24"
					height="24"
					viewBox="0 0 24 24"
					stroke-width="2"
					stroke="currentColor"
					fill="none"
					stroke-linecap="round"
					stroke-linejoin="round">
					<path d="M7 7l5 5l-5 5" />
					<>
						<path stroke="none" d="M0 0h24v24H0z" fill="none" />
						<path d="M13 7l5 5l-5 5" />
					</>
				</svg>
			</a>
		) : null
	}
</nav>
