{% import "macros/post.html" as post_macros %}

<!DOCTYPE html>
<html lang="en">

<head>
  {% include "partials/head.html" %}
</head>

<body class="flex flex-col min-h-screen min-w-[350px] bg-gray-950 px-1 text-gray-200 antialiased sm:px-4 md:px-0">
  {% block main %}
  {% include "partials/navbar.html" %}
  <main class="container mx-auto max-w-5xl px-3 my-8">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="mt-auto flex flex-col items-center justify-center text-xs text-gray-300 py-4">
    <span>Powered by&nbsp;<a href="https://www.getzola.org/" target="_blank" class="underline">Zola</a></span>
    <span>© 2024&nbsp;Thiago Majesk Goulart</span>
  </footer>
  {% endblock %}
</body>

</html>