---
import { getAllTags, getPostsByTag } from '../../../posts'
import { DEFAULT_PAGE_SIZE } from '../../../consts'
import RootLayout from '../../../layouts/RootLayout.astro'
import Main from '@components/Main.astro'
import PostListWithExcerpt from '@components/PostListWithExcerpt.astro'
import Pagination from '@components/Pagination.astro'
import type { GetStaticPaths, InferGetStaticPropsType } from 'astro'

export const getStaticPaths = (async ({ paginate }) => {
	const tags = await getAllTags()

	const pages = tags.map(async (tag) => {
		const posts = await getPostsByTag(tag)
		return paginate(posts, {
			params: { slug: tag.slug },
			props: { tag: tag },
			pageSize: DEFAULT_PAGE_SIZE
		})
	})

	return (await Promise.all(pages)).flat()
}) satisfies GetStaticPaths

type Props = InferGetStaticPropsType<typeof getStaticPaths>

const { page, tag } = Astro.props as Props
---

<RootLayout>
	<Main>
		<h1 class="text-center text-3xl font-bold capitalize text-gray-200">
			{tag.name}
		</h1>
		<PostListWithExcerpt posts={page.data} />
		<Pagination {page} />
	</Main>
</RootLayout>
